 <%layout('layouts/boilerplate')%>
 <div id="cluster-map"></div>
    <h1>ALL CAMPGROUNDS</h1>
    <div>
        <a href="/campgrounds/new">ADD CAMPGROUND</a>
    </div>
    <ul>
        <% for(let campground of campgrounds){%>
       <div class="card mb-3">
           <div class="row">
               <div class="col-md-4">
                  <%if(campground.images.length) {%>
               <img src="<%=campground.images[0].url%>" class="img-fluid" style="max-width:60%;"  alt="..">
            <%} else {%>
                <img src="https://res.cloudinary.com/simran567/image/upload/v1616938546/YelpCamp/uyf5qxik1eyxigim5ev9.jpg" class="img-fluid" style="max-width:60%;"  alt="..">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%=campground.title %></h5>
                    <p class="card-text"><%=campground.description%></p>
                    <p class="card-text">
                        <small class="text-muted"><%=campground.location%></small>
                    </p>
                    <p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campground.id%>">View <%=campground.title%></a>
                    </p>
                </div>
            </div>           
            </div>
       </div>

        <%}%>
    </ul>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const camps = {features:<%- JSON.stringify(campgrounds)%>}
    </script>
    <script src="/javascripts/clusterMap.js"></script>
